.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  gap: 2px;
  flex-grow: 1;
  margin-top: 5rem;
  background-color: #fff
}

.header {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600
}

.password-details {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem
}

.password-details div {
  align-items: left;
  padding: 0.5rem
}

.password-details div label {
  margin-top: 0.25rem;
  font-weight: 600;
  font-size: 1rem
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid #05a98b99;
  box-shadow: 0 2px 1px #0000001a;
  border-radius: 5px
}

.info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem
}

.info div h3 {
  font-size: 1rem
}

.pwd {
  width: 100%;
  font-size: 2rem
}

.pwd:active,
.pwd:focus {
  transition: 1s;
  border: 2px solid #05a98b;
  outline: none
}

.labl {
  font-size: 1rem
}

.submit {
  background: #a5e0d5;
  box-shadow: 0 2px 1px #0000001a;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
  font-weight: 600
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 1rem
  }

  .password-details {
    width: 100%
  }

  .pwd {
    width: 100%;
    font-size: 20px
  }

  .info {
    width: 50%
  }

  .submit {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 600
  }
}
