.l-navbar {
  display: flex;
  background-color: var(--g-color-secondary);
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative
}

.l-navbar-open {
  display: flex;
  background-color: var(--g-color-secondary);
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 120px;
  padding-bottom: 1rem
}

.l-navbar-logo {
  width: 10rem;
  height: auto;
  padding: 1em;
  overflow: hidden;
  filter: brightness(0) invert(1);
  cursor: pointer
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid rgb(173 173 173 / 20%);
  padding: 0;
  margin: 0;
}

.menu-container > h2 {
  font-family: Poppins, sans-serif;

  /* text-align: center; */
  padding-left: calc(100% / 2 - 70px);
  width: 100%;
  color: #333;

  /* margin: auto */
}

.menu-trigger {
  cursor: pointer;
  border: none;
  margin-right: 2em;
  padding: 0.5em 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center
}

.title {
  display: flex;
  justify-content: flex-end
}

.menu {
  font-family: Poppins, sans-serif;
  background: #05a98b;
  border-radius: 8px;
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 7rem;
  transform: translateY(-20px);
  z-index: 3;
  box-shadow: 0 4px 4px rgb(0 0 0 / 50%)
}

.menu ul {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column
}

.list {
  margin-bottom: 5px
}

.list a {
  text-decoration: none;
  color: #fff;
  display: block
}

.list a:hover {
  color: #333;
  font-weight: 400;
  transition: all 0.1s
}

.last {
  margin-top: 25px
}

.brand {
  margin-right: 1rem
}

.icon {
  background-color: #fff0
}

.logout {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 1rem
}

.logout:hover {
  color: #333;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s
}

.logo {
  border: none;
  background: transparent;
  outline: none
}

@media only screen and (max-width: 600px) {
  .menu-container {
    display: none
  }
}
